{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="/assets/login.css">


    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-4 offset-md-3">
                <div class="form-login">
                    <h4>Se connecter</h4>
                    {{ form_start(form) }}
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                    </br>

                    {{ form_label(form.species) }}
                    {{ form_widget(form.species) }}
                    </br>
                    {{ form_label(form.image) }}
                    {{ form_widget(form.image) }}

                    {{ form_row(form.login) }}

                        {{ form_end(form) }}
                    </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    </div>
{% endblock %}