{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/home.css">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card mx-auto   " style="width: 23rem;">
                    <img class="card-img-top img-responsive" src="{{ cougar.image }}" alt="Card image cap">
                    <span class="username">{{ cougar.name }}</span>
                    <span class="species">{{ cougar.species }}</span>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 d-flex question">
                        <p>Préfères-tu l'experience a l'ignorance de la jeunesse ?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 left ">
                <div class="card  mx-auto toto" style="width: 25rem;">
                    <img class="card-img-top2 img-responsive" src="{{ image }}" alt="Card image cap">
                    <span class="username">{{ username }}</span>
                    <span class="species"> {{ species }}</span>
                </div>
                <div class="row justify-content-center boutton">
                    <div class="col-md-3 tata">
                        <a href="/question2" class="oui btn btn-lg text-white">Oui</a>
                    </div>
                    <div class="col-md-3 tata">
                        <a href="/jonbrisé" class="non btn btn-lg text-white">Non</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}