{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/home.css">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card mx-auto" style="width: 23rem;">
                        <img class="card-img-top img-responsive" src= "{{ cougar.image }} "alt="Card image cap">
                    <span class="username">{{ cougar.name }}</span>
                    <span class="species"> {{ cougar.species }}</span>
                </div>

                <div class="row ">
                    <div class="col-md-6 d-flex justify-content-end mt-5">
                        <a href="/question1" class="btn  btn-lg text-white">Like</a>
                    </div>
                    <div class="col-md-6 mt-5">
                        <a href="/cougar" class="btn btn-lg text-white">Dislike</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 left">
                <div class="card  mx-auto" style="width: 25rem;">
                    <img class="card-img-top2 img-responsive" src="{{ image }}" alt="Card image cap">
                    <span class="username">{{ username }}</span>
                    <span class="species"> {{ species }}</span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

